@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
